@import '../../constants/styles/colors.scss';

.container-breadcrumb{
  max-width: 80%;
  margin: 10px auto;
}

.breadcrumb-item{
  cursor: pointer;
  display: inline-block;
  margin-right: 1rem;
}

.breadcrumb-item span{
  color: $breadcrum;
  transition: all .4s;
  font-size: 14px;

  &:hover{
    color: $black;
  }
}

.breadcrumb-item::after{
  content: '>';
  margin-left: 10px;
  color: $breadcrum;
  transition: all .4s;

  &:hover{
    color: $black;
  }
}

.breadcrumb-item:last-of-type::after{
  content: none;
}