@import '../../constants/styles/colors.scss';

form{
  min-width: 50%;
  display: flex;
}

input{
  font-size: .9rem;
  background-color: $white;
  padding: $padding;
  width: 90%;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  max-height: 50px;

  &::placeholder{
    color: $gray-stroke;
  }

  &:focus-visible{
    outline: none;
  }
}


button{
  cursor: pointer;
  min-width: 50px;
  height: 50px;
  position: relative;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
}

.btn-search img{
  width: 20px;
  height: 20px;
}