$primary: #fff159;
$gray: #ebebeb;
$gray-stroke: #bfbfbf;
$link: #3483fa;
$link-hover: #2968c8;
$white: #ffffff;
$black: #000000;
$breadcrum: #666;

// Fonts
$fontSize: 16px;
$fontFamily: 'Poppins', sans-serif;

$fontPrice: 2rem;
// Padding

$padding: 1rem;
$btn-padding: 1rem;

$transition: all .3s;

