@import '../../constants/styles/colors.scss';

.product-details{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding: 1rem;
}

.product-details article{
  min-width: 60%;
  width: 60%;
}


@media (max-width: 900px){
  .product-details{
    grid-template-columns: 1fr;
  }

  .container-products-image{
    grid-column: 1;
    grid-row: 1;
  }

  .product-payment{
    grid-column: 1;
    grid-row: 2
  }

  .container-description {
    grid-column: 1;
    grid-row: 3;
}
}


